/* УТИДИТАРНЫЕ КЛАССЫ */
.address{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 240px;
    height: 98px;

    font-style: normal;
    text-wrap: wrap;
    line-height: 25px;
}

.bet-button {
    width: 256px;
    height: 51px;
    border: 1px solid white;
    color: white;

    font-weight: 500;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;

    background: transparent;
    }

.overlay {
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / .6);
}

/* ШАПКА */

.header {
    height: 293px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 50px 96px 50px;

    font-size: 18px;
}

.header__menu {
    width: 392px;
    margin-right: 37px;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: circle;
}

.header__menu-item--no-bullit {
    list-style: none;
}

.header__link--active {
    text-decoration: none;
}

.header__logo {
    width: 148px;
}

.header__address {
    margin-left: 184px;
}

/* COVER */

.cover {
    position: relative;
    height: 757px;
    background: url(../images/cover.jpg);
    margin-bottom: 180px;
}

.cover-content {
    padding: 165px 50px 50px 50px;
    color: white;
}

.cover__title {
    display: flex;
    flex-direction: column;

    margin-bottom: 106px;

    font-weight: bold;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
}

.aligned-text {
    align-self: start;
    letter-spacing: 30%;
}

.aligned-text_center {
    align-self: center;
}

.aligned-text_right {
    align-self: end;
}

.aligned-text_right span{
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    word-spacing: 1.1em;
}

.cover__description-text span {
    letter-spacing: 1.1em;
}

/* lots */

.lots {
    margin-bottom: 120px;
    padding: 0 25px;
}

.lots__heading {
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    position: relative;
    margin-bottom: 30px;
}

/* УКАЗАНИЕ ФОНОВ КАРТОЧЕК */

.card_type_film {
    background: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg);
}

.background {
    background-size: cover;
    background-position: center;
}

.card-link, .card {
    height: 100%;
}

.card {
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    font-size: 20px;
    line-height: 120%;
    color: white;
    text-decoration: none;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
}

/* ABOUT */

.about {
    margin-bottom: 180px;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 359px 1fr;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__logo-image {
    width: 142px;
    height: 113px;
}

.about__title {
    height: 240px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.about__title-text {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
}

.about__text--upper {
    margin-bottom: 24px;
}

/* FOOTER */

.footer {
    height: 180px;
    padding: 0 50px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer__menu {
    text-align: center;
}

.footer__menu-link {
    font-size: 18px;
}

.footer__menu-link--active {
    text-decoration: none;
}

.footer__social-list {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}