/* УТИДИТАРНЫЕ КЛАССЫ */
.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 240px;
  min-height: 98px;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  text-wrap: wrap;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  color: white;

  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;

  background: transparent;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px 96px 50px;

  font-size: 18px;
}

.header__menu {
  width: 392px;
  margin-right: 37px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: circle;
}

.header__menu-item--no-bullit {
  list-style: none;
}

.header__link--active {
  text-decoration: none;
}

.header__logo {
  width: 136px;
  height: 105px;
}

.header__address {
  margin-left: 188px;
}

/* COVER */

.cover {
  position: relative;
  z-index: -1;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  color: white;
  background: url(../images/cover.jpg);
}

.cover::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgb(0 0 0 / 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;

  margin-bottom: 106px;

  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.aligned-text {
  align-self: start;
  letter-spacing: 30%;
}

.aligned-text_center {
  align-self: center;
  padding-left: 30px;
  padding-block: 20px;
}

.aligned-text_right {
  align-self: end;
}

.aligned-text_right span {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 0.8em;
}

.cover__description-text span {
  word-spacing: 0.9em;
}

/* lots */

.lots {
  margin-bottom: 156px;
  padding: 0 25px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  margin-bottom: 30px;
}

/* УКАЗАНИЕ ФОНОВ КАРТОЧЕК */

.card_type_film {
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
}

.background {
  background-position: center;
  background-size: cover;
}

.card-link,
.card {
  min-height: 596px;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgb(0 0 0 / 0.6);
}

.card-link {
  text-decoration: none;
}

.card__title {
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: white;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
}

/* ABOUT */

.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  margin-bottom: 180px;
  padding: 0 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-left: 46px;
  border-radius: 999px;
  background-color: black;
}

.about__logo-image {
  height: 114px;
}

.about__title {
  display: flex;
  align-items: center;
  height: 240px;
  margin-bottom: 8px;
}

.about__title-text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text--upper {
  margin-bottom: 24px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 180px;
  padding: 0 50px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__menu-link--active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
